---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: longhorn-ingress
spec:
  parentRefs:
    - name: traefik-gateway
      namespace: traefik
  hostnames: ["longhorn.mbhlabs.uk"]
  rules:
    - backendRefs:
        - name: longhorn-frontend
          port: 80
