repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: end-of-file-fixer


  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.13.0  # or latest
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]
