apiVersion: v1
kind: Service
metadata:
  name: uptime-kuma-service
  namespace: monitoring
spec:
  type: ClusterIP
  ports:
  - name: web-ui
    protocol: TCP
    port: 3001
    targetPort: 3001
  selector:
    app: uptime-kuma

