---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: whoami
spec:
  parentRefs:
  - name: traefik-gateway
    namespace: traefik
  hostnames: ["whoami.mbhlabs.uk"]
  rules:
  - backendRefs:
    - name: whoami
      port: 80
